:root {
	color-scheme: light;

	--color-primary: rgb(var(--color-primary-light));
	--color-on-primary: rgb(var(--color-on-primary-light));
	--color-primary-container: rgb(var(--color-primary-container-light));
	--color-on-primary-container: rgb(var(--color-on-primary-container-light));
	--color-secondary: rgb(var(--color-secondary-light));
	--color-on-secondary: rgb(var(--color-on-secondary-light));
	--color-secondary-container: rgb(var(--color-secondary-container-light));
	--color-on-secondary-container: rgb(var(--color-on-secondary-container-light));
	--color-tertiary: rgb(var(--color-tertiary-light));
	--color-on-tertiary: rgb(var(--color-on-tertiary-light));
	--color-tertiary-container: rgb(var(--color-tertiary-container-light));
	--color-on-tertiary-container: rgb(var(--color-on-tertiary-container-light));
	--color-error: rgb(var(--color-error-light));
	--color-error-container: rgb(var(--color-error-container-light));
	--color-on-error: rgb(var(--color-on-error-light));
	--color-on-error-container: rgb(var(--color-on-error-container-light));
	--color-background: rgb(var(--color-background-light));
	--color-on-background: rgb(var(--color-on-background-light));
	--color-surface: rgb(var(--color-surface-light));
	--color-on-surface: rgb(var(--color-on-surface-light));
	--color-surface-variant: rgb(var(--color-surface-variant-light));
	--color-on-surface-variant: rgb(var(--color-on-surface-variant-light));
	--color-outline: rgb(var(--color-outline-light));
	--color-inverse-on-surface: rgb(var(--color-inverse-on-surface-light));
	--color-inverse-surface: rgb(var(--color-inverse-surface-light));
	--color-inverse-primary: rgb(var(--color-inverse-primary-light));
	--color-shadow: rgb(var(--color-shadow-light));
	--color-surface-tint: rgb(var(--color-surface-tint-light));
	--color-outline-variant: rgb(var(--color-outline-variant-light));
	--color-scrim: rgb(var(--color-scrim-light));

	--color-surface-1: rgb(var(--color-primary-light) / 0.05);
	--color-surface-2: rgb(var(--color-primary-light) / 0.08);
	--color-surface-3: rgb(var(--color-primary-light) / 0.11);
	--color-surface-4: rgb(var(--color-primary-light) / 0.12);
	--color-surface-5: rgb(var(--color-primary-light) / 0.14);

	--color-solid-surface-1: rgb(250, 241, 246);
	--color-solid-surface-2: rgb(247, 236, 240);
	--color-solid-surface-3: rgb(244, 230, 235);
	--color-solid-surface-4: rgb(243, 228, 232);
	--color-solid-surface-5: rgb(241, 225, 229);
}
