:root {
	color-scheme: dark;

	--color-primary: rgb(var(--color-primary-dark));
	--color-on-primary: rgb(var(--color-on-primary-dark));
	--color-primary-container: rgb(var(--color-primary-container-dark));
	--color-on-primary-container: rgb(var(--color-on-primary-container-dark));
	--color-secondary: rgb(var(--color-secondary-dark));
	--color-on-secondary: rgb(var(--color-on-secondary-dark));
	--color-secondary-container: rgb(var(--color-secondary-container-dark));
	--color-on-secondary-container: rgb(var(--color-on-secondary-container-dark));
	--color-tertiary: rgb(var(--color-tertiary-dark));
	--color-on-tertiary: rgb(var(--color-on-tertiary-dark));
	--color-tertiary-container: rgb(var(--color-tertiary-container-dark));
	--color-on-tertiary-container: rgb(var(--color-on-tertiary-container-dark));
	--color-error: rgb(var(--color-error-dark));
	--color-error-container: rgb(var(--color-error-container-dark));
	--color-on-error: rgb(var(--color-on-error-dark));
	--color-on-error-container: rgb(var(--color-on-error-container-dark));
	--color-background: rgb(var(--color-background-dark));
	--color-on-background: rgb(var(--color-on-background-dark));
	--color-surface: rgb(var(--color-surface-dark));
	--color-on-surface: rgb(var(--color-on-surface-dark));
	--color-surface-variant: rgb(var(--color-surface-variant-dark));
	--color-on-surface-variant: rgb(var(--color-on-surface-variant-dark));
	--color-outline: rgb(var(--color-outline-dark));
	--color-inverse-on-surface: rgb(var(--color-inverse-on-surface-dark));
	--color-inverse-surface: rgb(var(--color-inverse-surface-dark));
	--color-inverse-primary: rgb(var(--color-inverse-primary-dark));
	--color-shadow: rgb(var(--color-shadow-dark));
	--color-surface-tint: rgb(var(--color-surface-tint-dark));
	--color-outline-variant: rgb(var(--color-outline-variant-dark));
	--color-scrim: rgb(var(--color-scrim-dark));

	--color-surface-1: rgb(var(--color-primary-dark) / 0.05);
	--color-surface-2: rgb(var(--color-primary-dark) / 0.08);
	--color-surface-3: rgb(var(--color-primary-dark) / 0.11);
	--color-surface-4: rgb(var(--color-primary-dark) / 0.12);
	--color-surface-5: rgb(var(--color-primary-dark) / 0.14);

	--color-solid-surface-1: rgb(43, 34, 34);
	--color-solid-surface-2: rgb(49, 38, 38);
	--color-solid-surface-3: rgb(56, 43, 43);
	--color-solid-surface-4: rgb(59, 45, 45);
	--color-solid-surface-5: rgb(63, 47, 47);
}
