@import url(styles/tokens.css);
@import url(styles/colors.module.css);
@import url(styles/typography.module.css);
@import url(styles/theme.light.css) (prefers-color-scheme: light);
@import url(styles/theme.dark.css) (prefers-color-scheme: dark);

* {
	box-sizing: border-box;
}

html {
	margin: 0;
	padding: 0;
}

body {
	margin: 0;
	width: 100%;

	overflow: auto;

	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

a {
	display: inline-block;
	color: #8ab4f8;
	text-decoration: none;
}

b,
strong {
	font-family: var(--typescale-body-medium-font-family-name);
	font-style: var(--typescale-body-medium-font-family-style);
	font-weight: var(--typescale-font-weight-medium);
	font-size: var(--typescale-body-medium-font-size);
	letter-spacing: var(--typescale-body-medium-letter-spacing);
	line-height: var(--typescale-body-medium-line-height);
	text-transform: var(--typescale-body-medium-text-transform);
	text-decoration: var(--typescale-body-medium-text-decoration);
}

h1 {
	font-family: var(--typescale-headline-large-font-family-name);
	font-style: var(--typescale-headline-large-font-family-style);
	font-weight: var(--typescale-headline-large-font-weight);
	font-size: var(--typescale-headline-large-font-size);
	letter-spacing: var(--typescale-headline-large-letter-spacing);
	line-height: var(--typescale-headline-large-line-height);
	text-transform: var(--typescale-headline-large-text-transform);
	text-decoration: var(--typescale-headline-large-text-decoration);
}

h2 {
	font-family: var(--typescale-headline-medium-font-family-name);
	font-style: var(--typescale-headline-medium-font-family-style);
	font-weight: var(--typescale-headline-medium-font-weight);
	font-size: var(--typescale-headline-medium-font-size);
	letter-spacing: var(--typescale-headline-medium-letter-spacing);
	line-height: var(--typescale-headline-medium-line-height);
	text-transform: var(--typescale-headline-medium-text-transform);
	text-decoration: var(--typescale-headline-medium-text-decoration);

	margin: 1rem 0;
}

h3 {
	font-family: var(--typescale-headline-small-font-family-name);
	font-style: var(--typescale-headline-small-font-family-style);
	font-weight: var(--typescale-headline-small-font-weight);
	font-size: var(--typescale-headline-small-font-size);
	letter-spacing: var(--typescale-headline-small-letter-spacing);
	line-height: var(--typescale-headline-small-line-height);
	text-transform: var(--typescale-headline-small-text-transform);
	text-decoration: var(--typescale-headline-small-text-decoration);

	margin: 0.75rem 0;
}

.antialiased {
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.subpixel-antialiased {
	-webkit-font-smoothing: auto;
	-moz-osx-font-smoothing: auto;
}

.text-center {
	text-align: center;
}

.text-left {
	text-align: left;
}

.text-right {
	text-align: right;
}

.strip-margin {
	margin: 0;
}

.strip-padding {
	padding: 0;
}

.ripple {
	position: absolute;
	display: block;
	top: 0;
	left: 0;

	border-radius: 50%;
	background-color: var(--color-surface-5);
	transform: translate(-50%, -50%);
	animation: scale 300ms ease-out;
}

.material-symbols-rounded {
	font-variation-settings: 'FILL' 0, 'wght' 400, 'GRAD' 0, 'opsz' 48;
}

@keyframes scale {
	0% {
		width: 0;
		height: 0;
	}

	100% {
		width: 20rem;
		height: 20rem;
		opacity: 0;
	}
}
